/* Reset */
* {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    min-height: 100vh;
  }
  
  
  /* Variables */
  :root {
    --white: #fff;
    --headerHeight: 210px;
    --footerHeight: 80px;
    --mainSpacing: 30px;
    --cardSpacing: 30px;

    --typeBug: #9cc788;
    --typeDragon: #f8e0aa;
    --typeElectric: #f5cd4a;
    --typeFairy: #efc9c0;
    --typeFighting: #e2c9a7;
    --typeFire: #d78b6a;
    --typeGhost: #8f7bb3;
    --typeGrass: #a6d7a8;
    --typeGround: #babf9f;
    --typeIce: #cbf4ff;
    --typeNormal: #ddd;
    --typePoison: #817b9d;
    --typePsychic: #d4a435;
    --typeRock: #c3c0d5;
    --typeWater: #9ad1e8;
    --radius: 10px;
  }
  
  
  /* Utilities */
  .gray {
    color: #aaa;
  }
  
  /* Structure */
  body {
    background: linear-gradient(to right, #293581, #da353b);
    font-family: Roboto, sans-serif;
  }
  
  .container {
    margin-inline: auto;
    max-width: 1000px;
  }
  
  article {
    display: flex;
    flex-direction: column;
  }
  
  
  /* Header */
  header {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: var(--headerHeight);
    justify-content: center;
  }
  
  header .logo {
    max-width: 250px;
  }
  
  
  /* Main */
  main {
    min-height: calc(100vh - var(--headerHeight) - var(--footerHeight) - var(--mainSpacing));
    padding-inline: var(--mainSpacing);
    padding-bottom: calc(var(--mainSpacing) + 30px);
  }
  
  
  /* Footer */
  footer {
    align-items: center;
    background: var(--white);
    display: flex;
    height: var(--footerHeight);
    justify-content: center;
    text-align: center;
  }
  
  
  /* Cards */
  .cards {
    display: grid;
    gap: var(--cardSpacing);
    grid-template-columns: repeat(auto-fit, minmax(180px, 212px));
    justify-content: center;
  }
    
  .card {
    align-items: center;
    background: var(--white);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    min-height: 200px;
    padding: 20px;
  }
  
  .card figure {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 150px;
    width: 150px;
  }
  
  .card img {
    max-height: 150px;
    max-width: 150px;
  }
  
  .card .number {
    margin-top: 30px;
  }
  
  .card h2 {
    font-size: 24px;
  }
  
  .card h2,
  .card p {
    margin-top: 5px;
  }
  
  
  /* Types */
  [class*='type-'] {
    border:7px solid;
  }

  .type-normal {
    border-color: var(--typeNormal);
  }

  .type-fighting {
    border-color: var(--typeFighting);
  }

  .type-poison {
    border-color: var(--typePoison);
  }

  .type-ground {
    border-color: var(--typeGround);
  }

  .type-rock {
    border-color: var(--typeRock);
  }

  .type-bug {
    border-color: var(--typeBug);
  }

  .type-ghost {
    border-color: var(--typeGhost);
  }

  .type-fire {
    border-color: var(--typeFire);
  }

  .type-water {
    border-color: var(--typeWater);
  }

  .type-grass {
    border-color: var(--typeGrass);
  }

  .type-electric {
    border-color: var(--typeElectric);
  }

  .type-psychic {
    border-color: var(--typePsychic);
  }

  .type-ice {
    border-color: var(--typeIce);
  }

  .type-dragon {
    border-color: var(--typeDragon);
  }

  .type-fairy {
    border-color: var(--typeFairy);
  }
  
  
  /* Filter */
  .filter {
    margin-bottom: 60px;
  }
  
  @media (min-width: 640px) {
    .filter {
      margin-bottom: 30px;
    }
  }

  .filter h1 {
    color: var(--white);
    font-size: 22px;
    margin-block: 20px;
  }

  @media (min-width: 640px) {
    .filter h1 {
      margin-block: 30px;
    }
  }
  
  .filter-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 600px) {
    .filter-container {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  .filter-form {
    border-radius: var(--radius);
    width: 212px;
  }
  
  .filter-form .MuiSvgIcon-root {
    fill: var(--white);
  }
  
  .filter-form .MuiOutlinedInput-notchedOutline {
    border-color: var(--white);
  }
  
  .filter-form .css-sc8y68-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--white);
  }
  
  .filter-form .css-sc8y68-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--white);
  }
  
  .filter-form .css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: var(--white);
  }
  
  .filter-form .MuiSelect-select {
    color: var(--white);
  }
  
  .filter-form .MuiFormLabel-root {
    color: var(--white);
  }