/* Reset */
* {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
}


/* Variables */
:root {
  --white: #fff;
  --headerHeight: 240px;
  --footerHeight: 80px;
  --mainSpacing: 30px;
  --cardSpacing: 30px;
}


/* Utilities */
.gray {
  color: #aaa;
}

/* Structure */
body {
  background: linear-gradient(to right, #293581, #da353b);
  font-family: Roboto, sans-serif;
}

.container {
  margin-inline: auto;
  max-width: 1000px;
}

article {
  display: flex;
  flex-direction: column;
}


/* Header */
header {
  align-items: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: var(--headerHeight);
  justify-content: center;
}

header .logo {
  max-width: 250px;
}

header h1 {
  font-size: 24px;
  margin-top: 30px;
}


/* Main */
main {
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight) - var(--mainSpacing));
  padding-bottom: var(--mainSpacing);
}


/* Footer */
footer {
  align-items: center;
  background: var(--white);
  display: flex;
  height: var(--footerHeight);
  justify-content: center;
  text-align: center;
}


/* Cards */
.cards {
  display: grid;
  gap: var(--cardSpacing);
  grid-template-columns: repeat(4, 1fr);
}

.card {
  align-items: center;
  background: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  padding: 20px;
}

.card figure {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 150px;
  width: 150px;
}

.card img {
  max-height: 150px;
  max-width: 150px;
}

.card .number {
  margin-top: 30px;
}

.card h2 {
  font-size: 24px;
}

.card h2,
.card p {
  margin-top: 5px;
}